{-# OPTIONS_GHC -fno-warn-unused-binds -fno-warn-unused-imports -freduction-depth=0 #-}
{-# LANGUAGE DataKinds #-}
{-# LANGUAGE DeriveGeneric #-}
{-# LANGUAGE OverloadedLists #-}
{-# LANGUAGE OverloadedStrings #-}
{-# LANGUAGE TypeOperators #-}

module {{title}}.API where

import {{title}}.Common
import {{title}}.Types

import qualified Data.Map as Map
import qualified Data.Text as T
import GHC.Generics (Generic)
import Prelude
import Servant.API
import Servant.API.Verbs (StdMethod(..), Verb)
import Web.Internal.FormUrlEncoded (ToForm(..), FromForm(..), parseUnique)

{{#apiInfo}}{{#apis}}{{#imports}}import {{import}}
{{/imports}}{{/apis}}{{/apiInfo}}


{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}{{#hasFormParams}}
data {{vendorExtensions.x-formName}} = {{vendorExtensions.x-formName}}
  { {{#formParams}}{{vendorExtensions.x-formPrefix}}{{vendorExtensions.x-formParamName}} :: {{dataType}}{{#hasMore}}
  , {{/hasMore}}{{/formParams}}
  } deriving (Show, Eq, Generic)

instance FromForm {{vendorExtensions.x-formName}} where
  fromForm inputs = {{vendorExtensions.x-formName}} <$> {{#formParams}}parseUnique "{{baseName}}" inputs{{#hasMore}} <*> {{/hasMore}}{{/formParams}}

instance ToForm {{vendorExtensions.x-formName}} where
  toForm value =
    [ {{#formParams}}("{{baseName}}", toQueryParam $ {{vendorExtensions.x-formPrefix}}{{vendorExtensions.x-formParamName}} value){{#hasMore}}
    , {{/hasMore}}{{/formParams}}
    ]
{{/hasFormParams}}{{/operation}}{{/operations}}{{/apis}}


-- | Servant type-level API, generated from the Swagger spec for {{title}}.
{{#apis}}{{#operations}}{{#operation}}type {{& vendorExtensions.x-routeName}}
  =  {{#vendorExtensions.x-routeType}}{{{.}}}{{^@last}}
  :> {{/@last}}{{/vendorExtensions.x-routeType}}

{{/operation}}{{/operations}}
{{/apis}}

type {{title}}API
    =    {{#apis}}{{#operations}}{{#operation}}{{& vendorExtensions.x-routeName}}{{#hasMore}}
    :<|> {{/hasMore}}{{/operation}}{{/operations}}{{#hasMore}}
    :<|> {{/hasMore}}{{/apis}}

{{/apiInfo}}

